.dashBoxesContainer {
  display: flex;
  gap: 20px; /* Space between rows */
  margin: 0;
  font-family: sans-serif;
  padding: 20px; /* Space around the container */
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center 80%;
  image-rendering: smooth;
  z-index: 1;
  background-color: rgba(240, 248, 255, 0.716);
}


.right-box {
  background-color: white;
  width: 25%;
  height: 74%;
  border-radius: 8px;
  margin-top: 125px;
  margin-bottom: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  z-index: 3;
}

.selection {
  font-family: var(--primary-font);
  font-size: 24px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.stopButton {
  position: absolute;
  width: 20%;
  background-color: rgb(194, 48, 48);
  margin-bottom: 63px;
  bottom: 11%;
  left: 28%;
  z-index: 4;
}

.startButton {
  position: absolute;
  width: 20%;
  background-color: rgb(194, 48, 48);
  margin-bottom: 63px;
  bottom: 11%;
  left: 28%;
  z-index: 4;
}
