@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opactiy: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease-in-out;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--light-color);
  overflow: hidden;
  background-image: url("../assets/homegym.png");
  background-size: cover;
  background-position: center 80%;
  image-rendering: smooth;
}

.homeContainer::before {
  content: ""; /* Required to create the pseudo-element */
  position: absolute; /* Position it over the container */
  margin-top: 2.5%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; /* Ensure the overlay is on top of the background */
}

.row {
  display: flex;
  gap: 54px;
}

.logo {
  border-width: 0;
}

.title {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-family: Lato;
  font-weight: 600;
  margin-bottom: 100px;
  padding: 20px 0;
  gap: 15px;
  z-index: 2;
  background: var(--light-color);
}

.titleText {
  font-family: var(--primary-font);
}

.bottomBox {
  display: flex;
  justify-content: center;
  width: 928px;
  height: 250px;
  background: #ffffff;
  border-radius: 30px;
  margin-top: 50px;
}

.bottom {
  height: 200px;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
  align-self: flex-end;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
}

.desc {
  text-align: center;
  color: var(--dark-color);
  font-family: var(--primary-font);
  width: 60%;
  margin-top: 25px;
  font-size: 16px;
}

.nav {
  width: 251px;
  height: 65px;
  border-radius: 20px;
  background: var(--dark-color);
  margin-top: 50px;
  font-family: Lato;
  color: #ffffff;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 28px;
  z-index: 2;
  margin-bottom: 40px;
}
