html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; /* Ensure that html and body take up the full height of the screen */
  overflow: hidden;
}

#root {
  width: 100%; /* Take full width */
  height: 100%; /* Take full height */
  display: flex; /* You may want to use flex to control layout */
  flex-direction: column; /* Optional: Define layout for child elements */
}
